<script setup>
const props = defineProps({
  title: String,
})
</script>

<template>
  <div class="card bg-base-200 my-8">
    <div class="card-body">
      <h2 class="card-title">{{ title }}</h2>
      <slot></slot>
    </div>
  </div>
</template>
