<script setup>
const props = defineProps({
  title: String,
  nextUrl: String,
  nextText: String,
})
</script>

<template>
  <div class="card w-64 h-max bg-base-100 shadow-xl m-8">
    <div class="card-body">
      <h1 class="card-title mx-auto">{{ title }}</h1>
      <div class="card-actions justify-center">
        <NuxtLink :to="nextUrl">
          <button class="btn btn-primary">{{ nextText }}</button>
        </NuxtLink>
      </div>
    </div>
  </div> 
</template>
