<script setup>
const { data, pending, error, refresh } = await useFetch(`/api`);
</script>

<template>
  <FullFlex>
    <span v-if="pending" class="loading loading-spinner loading-lg"></span>
    <div v-if="error" class="alert alert-error">{{ error }}</div>
    <SelectionCard
      v-for="tournament in data"
      :title="tournament.name"
      :nextUrl="tournament.slug"
      nextText="Sign-up"
    />
  </FullFlex>
</template>
