<script setup>
const route = useRoute();
const { data } = await useFetch(`/api/${route.params.tournament}`);
</script>

<template>
  <FullFlex>
    <SelectionCard
      title="Institution"
      :nextUrl="$route.params.tournament+'/new_institution'"
      nextText="Sign-up"
    />
    <SelectionCard
      v-if="data.allow_independent_teams"
      title="Independent Team"
      :nextUrl="$route.params.tournament+'/new_team'"
      nextText="Sign-up"
    />
    <SelectionCard
      v-if="data.allow_independent_participants"
      title="Independent Participant"
      :nextUrl="$route.params.tournament+'/new_participant'"
      nextText="Sign-up"
    />
    <SelectionCard
      v-if="data.allow_ia"
      title="Independent Adjudicator"
      :nextUrl="$route.params.tournament+'/new_ia'"
      nextText="Sign-up"
    />
  </FullFlex>
</template>
