<script setup>
const submission = reactive({
  name: '',
  shortname: '',
  email: '',
  teams: [],
  comments: '',
});

const team_key = ref(0);

function addTeam(ev) {
  submission.teams.push({
    key: team_key.value++,
    name: '',
    members: [
      { key: team_key.value++, email: '-' },
      { key: team_key.value++, email: '-' },
      { key: team_key.value++, email: '-' },
    ],
  });
}

function removeTeam(ev) {
  let key = ev.currentTarget.dataset.key;
  submission.teams = submission.teams.filter(x => x.key != key);
}

function addMember(ev) {
  let key = ev.currentTarget.dataset.key;
  let team = submission.teams.find(x => x.key == key);
  team.members.push({ key: team_key.value++, email: '-' });
}

function removeMember(ev) {
  let teamkey = ev.currentTarget.dataset.teamkey;
  let memberkey = ev.currentTarget.dataset.memberkey;
  let team = submission.teams.find(x => x.key == teamkey);
  team.members = team.members.filter(x => x.key != memberkey);
}
</script>

<template>
  <div class="mx-auto max-w-3xl">
    <PageHeading>Institution sign-up</PageHeading>
    <FormSection title="Institution information">
      <label>Institution's full name</label> 
      <input type="text" v-model="submission.name"/>
      <label>Institution's short name</label>
      <input type="text" v-model="submission.shortname" />
    </FormSection>
    <FormSection title="Leading person's information">
      <label >Email address</label>
      <input type="text" v-model="submission.email"/>
    </FormSection>
    <FormSection title="Teams">
    <button class="btn btn-primary my-2" @click="addTeam">Add team</button>
      <div v-for="team in submission.teams" class="card my-2 bg-base-300">
        <div class="card-body">
          <label>Team name</label>
          <input type="text" v-model="team.name" />
          <label>Members' email addresses</label>
          <div class="flex flex-columns w-fill" v-for="member in team.members">
            <input class="grow border-r-0" type="text" v-model="member.email" />
            <button class="btn btn-square btn-outline rounded-none" @click="removeMember" :data-teamkey="team.key" :data-memberkey="member.key">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            </button>
          </div>
          <div class="card-actions">
            <button class="btn btn-primary" @click="addMember" :data-key="team.key">Add member</button>
            <button class="btn btn-error" @click="removeTeam" :data-key="team.key">Delete team</button>
          </div>
        </div>
      </div>
    </FormSection>
    <FormSection title="Additional information">
      <label>Anything else we should know?</label>
      <textarea class="min-w-full h-64" v-model="submission.comments" />
    </FormSection>
  </div>
</template>
