<script setup>
const submission = reactive({
  name: '',
  members: [
    { key: 0, email: '-' },
    { key: 1, email: '-' },
    { key: 2, email: '-' },
  ],
})

const key = ref(3);

function addMember(ev) {
  submission.members.push({ key: key.value++, email: '-' });
}

function removeMember(ev) {
  let key = ev.currentTarget.dataset.key;
  submission.members = submission.members.filter(x => x.key != key);
}
</script>


<template>
  <div class="mx-auto max-w-3xl">
    <PageHeading>Independent team sign-up</PageHeading>
    <FormSection title="Team information">
      <label>Team name</label>
      <input type="text" v-model="name" />
      <label>Members' email addresses</label>
      <div class="flex flex-columns w-fill" v-for="member in submission.members">
        <input class="grow border-r-0" type="text" v-model="member.email" />
        <button class="btn btn-square btn-outline rounded-none" @click="removeMember" :data-key="member.key">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </button>
      </div>
      <div class="card-actions">
        <button class="btn btn-primary" @click="addMember">Add member</button>
      </div>
    </FormSection>
  </div>
</template>
